body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.accent-clr {
  color: #77a59c;
}

/* Home.js */
.btn-custom {
  background-color: #77a59c !important;
  color: white !important;
  border: none;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background-color: #4c766b !important;
  transform: translateY(-3px);
  color: white;
}
